# GEMINI_API_KEY: کلید هوش مصنوعی جمینای در سمت سرور (اختیاری - در صورت عدم وجود، موتور معمار هوشمند آفلاین فعال می‌شود)
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: آدرس برنامه در محیط ابری
APP_URL="MY_APP_URL"

# GITHUB_TOKEN: توکن اختیاری گیت‌هاب در سرور جهت پوش خودکار (قابل ورود در رابط کاربری پوش مستقیم نیز می‌باشد)
GITHUB_TOKEN=""
GITHUB_REPO="username/decormate-vip"

